#imagenCarrito,#imagenUsuario{
    display:none;
}
ul,li,a{
    display:none;
}
.container-banderas{
    display:none;
}

#exampleModal,#exampleModal2{
    display:none;
}
#mapa{
    margin-top: 100px;
}
*{
    text-align: center;
    font-size: 16px;
}
.container-banderas {
    display: none;
}