<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>consultaTodo</servlet-name>
        <servlet-class>logicanegocio.Administracion.consultaTodo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnadirCesta</servlet-name>
        <servlet-class>logicanegocio.Tienda.AnadirCesta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>consulta</servlet-name>
        <servlet-class>logicanegocio.Tienda.consulta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>comprobarUsuario</servlet-name>
        <servlet-class>logicanegocio.principal.comprobarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>imagenMascota</servlet-name>
        <servlet-class>logicanegocio.principal.imagenMascota</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>consultaCesta</servlet-name>
        <servlet-class>logicanegocio.Tienda.consultaCesta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinalizarCarrito</servlet-name>
        <servlet-class>logicanegocio.Tienda.FinalizarCarrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrarProducto</servlet-name>
        <servlet-class>logicanegocio.Tienda.borrarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>traerFecha</servlet-name>
        <servlet-class>logicanegocio.Citas.traerFecha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>hacerReserva</servlet-name>
        <servlet-class>logicanegocio.Citas.hacerReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>generaPdf</servlet-name>
        <servlet-class>logicanegocio.Tienda.generaPdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MetodosBD</servlet-name>
        <servlet-class>bd.MetodosBD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>desconectarSesion</servlet-name>
        <servlet-class>logicanegocio.principal.desconectarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registro</servlet-name>
        <servlet-class>logicanegocio.principal.Registro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrarCita</servlet-name>
        <servlet-class>logicanegocio.Citas.borrarCita</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>traerCitas</servlet-name>
        <servlet-class>logicanegocio.Citas.traerCitas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Categorias</servlet-name>
        <servlet-class>logicanegocio.Tienda.Categorias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrar</servlet-name>
        <servlet-class>logicanegocio.Administracion.borrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertar</servlet-name>
        <servlet-class>logicanegocio.Administracion.insertar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>traerUsuarios</servlet-name>
        <servlet-class>logicanegocio.Administracion.traerUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MensajeContacto</servlet-name>
        <servlet-class>logicanegocio.Contacto.MensajeContacto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Newsletter</servlet-name>
        <servlet-class>logicanegocio.Tienda.Newsletter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>consultaTodo</servlet-name>
        <url-pattern>/consultaTodo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnadirCesta</servlet-name>
        <url-pattern>/AnadirCesta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consulta</servlet-name>
        <url-pattern>/consulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>comprobarUsuario</servlet-name>
        <url-pattern>/comprobarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>imagenMascota</servlet-name>
        <url-pattern>/imagenMascota</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consultaCesta</servlet-name>
        <url-pattern>/consultaCesta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinalizarCarrito</servlet-name>
        <url-pattern>/FinalizarCarrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrarProducto</servlet-name>
        <url-pattern>/borrarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>traerFecha</servlet-name>
        <url-pattern>/traerFecha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hacerReserva</servlet-name>
        <url-pattern>/hacerReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>generaPdf</servlet-name>
        <url-pattern>/generaPdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MetodosBD</servlet-name>
        <url-pattern>/MetodosBD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>desconectarSesion</servlet-name>
        <url-pattern>/desconectarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/Registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrarCita</servlet-name>
        <url-pattern>/borrarCita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>traerCitas</servlet-name>
        <url-pattern>/traerCitas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Categorias</servlet-name>
        <url-pattern>/Categorias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrar</servlet-name>
        <url-pattern>/borrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertar</servlet-name>
        <url-pattern>/insertar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>traerUsuarios</servlet-name>
        <url-pattern>/traerUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MensajeContacto</servlet-name>
        <url-pattern>/MensajeContacto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Newsletter</servlet-name>
        <url-pattern>/Newsletter</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
