# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\PC\Desktop\Proyecto ClinicaVeterinaria Victor-Salvador\clinicaVeterinaria\ProyectoVeterinaria\ClinicaVeterinaria\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
